COMPOSE_PROJECT_NAME=nocker

### General
ROOT_PATH=.
CONF_PATH=./configuration
NODE_ENV=development
NODE_VERSION=9-alpine
HOST=0.0.0.0
PORT=80

### Application
APP_PATH=./services/app

### API
API_PATH=./services/core/api

### SERVICES
SERVICE_HTTP_PATH=./services/service-http
