## IMAGES
REGISTRY=kmade.net:5000
COMPOSE_PROJECT_NS=km
COMPOSE_PROJECT_NAME=kmade
NGINX_IMG=nginx:alpine
NODE_IMG=node
NODE_VERSION=9-alpine

### General
ROOT_PATH=.
CONF_PATH=./configuration

### Defaults
NODE_ENV=development
HOST=0.0.0.0
PORT=80

### Apps
APP_PATH=./services/apps/app
DASHBOARD_PATH=./services/apps/dashboard

### Gate
API_PATH=./services/core/api

### SERVICES
SERVICE_HTTP_PATH=./services/service-http

# ---- ADD BUILD ENVs BELOW THIS LINE ---- #
