IMAGE_REGISTRY=hub.docker.io
COMPOSE_PROJECT_NS=km
COMPOSE_PROJECT_NAME=kmade

### General
ROOT_PATH=.
CONF_PATH=./configuration
PROXY_PATH=./services/proxy
NODE_ENV=development

# arm32v7/nginx
NGINX_IMG=nginx:alpine
NODE_IMG=node
NODE_VERSION=9-alpine
HOST=0.0.0.0
PORT=80

### Application
APP_PATH=./services/apps/app
DASHBOARD_PATH=./services/apps/dashboard
### API
API_PATH=./services/core/api

### SERVICES
SERVICE_HTTP_PATH=./services/service-http

